<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table border="1" cellpadding="10">

    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Surname</td>
        <td>Department</td>
        <td>Salary</td>
    </tr>
    <tr>
        <td th:text="${user.getId()}">VALUE</td>
        <td th:text="${user.getName()}">VALUE</td>
        <td th:text="${user.getSurname()}">VALUE</td>
        <td th:text="${user.getDepartment()}">VALUE</td>
        <td th:text="${user.getSalary()}">VALUE</td>

    </tr>

</table>

<a th:href="@{/{id}/edit(id=${user.getId()})}">Edit</a>
<br><br>
<form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>